/build/angular/_templates/angular*/twicpics-components/src
/build/angular/_templates/angular*/yarn.lock
/samples/**/.next
/samples/**/.nuxt
/samples/**/build
/samples/**/package-lock.json
/samples/**/yarn.lock
/samples/angular*/**/app.component.html
/samples/webcomponents/index.html
*.log
.angular
.DS_Store
.history
dist
node_modules
