/build/angular/_templates/angular*/lib/src
/build/sveltekit/template/src/lib
/tests/**/.next
/tests/**/.nuxt
/tests/tmp/
/samples/**/.cache
/samples/**/.next
/samples/**/.nitro
/samples/**/.nuxt
/samples/**/build
/samples/**/package-lock.json
/samples/**/yarn.lock
/samples/angular*/**/app.component.html
/samples/gatsby/public
/samples/**/out
/samples/next-app-router/**/sample.jsx 
/samples/nuxt3/.cache
/samples/nuxt3/.env
/samples/nuxt3/.output
/samples/**/Sample.svelte
/samples/webcomponents/index.html
*.bak
*.log
*.bak
.angular
.expo
.DS_Store
.history
.idea
.parcel-cache
.svelte-kit
.vscode
package/
package-lock.json
yarn.lock
dist
node_modules

