body {
    background-color: #342d4e;
    color: white;
    padding: 1em;
}

main {
    margin: auto;
    max-width: 1000px;
}

.samples {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin: 1rem 0;
    max-width: 1280px;
}

@media ( min-width: 600px ) {
    .samples {
        grid-template-columns: 1fr 1fr;
    }
}

.item {
    align-self: start;
    position: relative;
}

.item > span {
    position: absolute;
    color: #00FFA3;
    display: block;
    left: 0.5rem;
    text-shadow:
        -1px  0   0 #342d4e,
        -1px  1px 0 #342d4e,
        -1px -1px 0 #342d4e,
         1px  0   0 #342d4e,
         1px  1px 0 #342d4e,
         1px -1px 0 #342d4e,
         0    1px 0 #342d4e,
         0   -1px 0 #342d4e;
    top: 0.5rem;
}

.twic-w {
    align-self: start;
    background-color: #00FFA3;
}

h1 {
    margin-top: 0.2rem;
}

h2, caption {
    font-family: monospace;
}
