body {
    background-color: #342d4e;
    color: white;
    padding: 1em;
}

main {
    margin: auto;
    max-width: 1500px;
}

.twic-sample-nav-links {
    display: flex;
    list-style: none;
    padding: 0 0 1rem 1rem;
    border-bottom: 1px solid;
}

.twic-sample-nav-links li {
    padding-right: 2rem;
}

.samples {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 1rem;
}

.item {
    position: relative;
}

.item > *:first-child {
    background-color: #00FFA3;
    display: block;
}

.item > span {
    position: absolute;
    color: #00FFA3;
    display: block;
    left: 0.5rem;
    text-shadow:
        -1px  0   0 #342d4e,
        -1px  1px 0 #342d4e,
        -1px -1px 0 #342d4e,
         1px  0   0 #342d4e,
         1px  1px 0 #342d4e,
         1px -1px 0 #342d4e,
         0    1px 0 #342d4e,
         0   -1px 0 #342d4e;
    top: 0.5rem;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap : wrap;
}

.flex-item {
    flex: 1 1 0;
}

h1 {
    margin-top: 0.2rem;
}

h2, caption {
    font-family: monospace;
}

/* style driven */
.style-driven-50 {
    width:50%;
}

.style-driven-75 {
    width:75%;
}

.style-driven-16-9 {
    --twic-ratio: calc(16/9);
}

.style-driven-4-3 {
    --twic-ratio: calc(4/3);
}

.style-driven-16-9 {
    --twic-ratio: calc(16/9);
}

.style-driven-responsive {
    --twic-ratio: calc(2/3);
    --twic-mode: cover;
}

.twic-sample-nav-links a {
   color: #fff;
   font-size: 1.2em;
   font-variant-caps: petite-caps;
   text-decoration: none;
}

.twic-sample-nav-links a:hover {
    text-decoration: underline;
 }

.full-rounded {
    border-radius: 100%;
}

.hero-image {
    height:500px;
}

@media (min-width: 640px) {
    .style-driven-responsive
    {
        --twic-ratio: calc(1);
    }
}

@media (min-width: 768px) {
    .style-driven-responsive
    {
        --twic-ratio: calc(4/3);
        --twic-mode: contain;
        --twic-position: top left;
    }
}

@media (min-width: 1024px) {
    .style-driven-responsive
    {
        --twic-ratio: calc(1 + 0.85);
    }
}


@media (min-width: 1280px) {
    .style-driven-responsive
    {
        --twic-ratio: calc(1.85);
        --twic-mode: cover;
    }
}


@media (min-width: 1536px) {
    .style-driven-responsive
    {
        --twic-ratio: calc(16/9);
    }
}


