/* ISOLATION */
.twic-i {
    overflow: hidden;
}
/* WRAPPER AND ITS CHILDREN */
.twic-w, .twic-w * {
    /* constants */
    border: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
/* WRAPPER */
.twic-w {
    /* constants */
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    /* defaults */
    background-size: cover;
    background-position: center;
    padding-top: 100%;
    width: 100%;
    /* variables */
    background-size: var( --twic-mode, cover );
    background-position: var( --twic-position, center );
    padding-top: calc( 100% / var( --twic-ratio, 1 ) );
    /* trick to get ratio easily */
    font-size: calc( 1px / var( --twic-ratio, 1 ) );
}
/* IMG OR VIDEO */
.twic-w > * {
    /* constants */
    display: block;
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    transition-property: opacity, transform;
    will-change: opacity, transform;
    /* defaults */
    object-fit: cover;
    object-position: center;
    transition-delay: 0s;
    transition-duration: 400ms;
    transition-timing-function: ease;
    /* variables */
    object-fit: var( --twic-mode, cover );
    object-position: var( --twic-position, center );
    transition-delay: var( --twic-transition-delay, 0s );
    transition-duration: var( --twic-transition-duration, 400ms );
    transition-timing-function: var( --twic-transition-timing-function, ease );
}

.twic-w.twic-tz > * {
    transform: scale(0);
}

.twic-w.twic-tf > * {
    opacity: 0;
}

/* OFFLINE PLACEHOLDERS AND ITS CHILDREN */
.twic-offline {
    background-color: #CCCCCC;
}

.twic-offline.twic-nosrc {
    background-color: #FD0016;
}

.twic-offline > * {
    display: none;
}


