.twic-w {
    background-repeat: no-repeat;
    padding-top: 100%;
    position: relative;
    width: 100%;
}

.twic-w > *, .twic-w > noscript > * {
    display: block;
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.twic-t-fade > * {
    opacity: 0;
    transition-delay: 0ms;
    transition-duration: 400ms;
    transition-property: opacity;
    transition-timing-function: ease;
    will-change: opacity;
}

.twic-t-fade > noscript + * {
    display: none;
}

.twic-t-fade > noscript {
    opacity: 1;
}
