.twic-w {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    padding-top: 100%;
}

.twic-w > * {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.twic-t-fade > * {
    transition-property: opacity;
    will-change: opacity;
    opacity: 0;
    transition-delay: 0ms;
    transition-duration: 400ms;
    transition-timing-function: ease;
}
