body {
    background-color: #342d4e;
}

main {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax( 320px, 1fr ) );
    grid-gap: 1rem;
    max-width: 1280px;
    margin: auto;
}

.twic-w {
    align-self: start;
}
